@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-5">
    <h1 class="display-1 mt-5">Witaj w kalkulatorze <span class="text-info">BMI</span></h1>
    <a role="button" href="/Kalkulator" class="btn btn-primary p-5 mt-5 col-12">
        <span class="display-1">ROZPOCZNIJ</span>
    </a>
</div>
