.Settings {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/AdminPanel/Settings.png");
    height: 256px;
    border: 1px solid white;
}

.Settings:hover {
    border-color: rgb(var(--bs-dark-rgb));
}