<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FenXs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/FenXs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FenXs-Background.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FenXs-HeaderSmall.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FenXs-NavMenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FenXs-Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Bootstrap-Border.css" asp-append-version="true" />
    @if (ViewBag.IsMain == true)
    {
        <link rel="stylesheet" href="~/css/Page-Main.css" asp-append-version="true" />
    }
    @if (ViewBag.IsAdminPanel == true)
    {
        <link rel="stylesheet" href="~/css/Page-Admin.css" asp-append-version="true" />
    }
</head>

<body>
    <div
        class="container-fluid col-xxl-7 col-xl-8 col-lg-9 col-12 min-vh-100 p-0 bg-dark bg-gradient bg-opacity-50 shadow-lg">
        <nav
            class="navbar navbar-expand-md FenXs-Wooden border border-2 border-top-0 border-dark rounded-bottom shadow">
            <div class="container-fluid">
                <a class="navbar-brand link-light" href="/Main">
                    <img src="~/img/Logo.png" alt="" width="40" height="40"> FenXs
                </a>
                <button class="navbar-toggler shadow-sm" type="button" data-bs-toggle="collapse"
                    data-bs-target="#NavCollapseFenXs" aria-controls="NavCollapseFenXs" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="NavCollapseFenXs">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item border-md-start border-dark">
                            <a href="*" class="nav-link link-light px-3" aria-current="page">Gallery</a>
                        </li>
                        <li class="nav-item border-md-start border-dark">
                            <a href="*" class="nav-link link-light px-3" aria-current="page">Forum</a>
                        </li>
                        <li class="nav-item border-md-start border-dark">
                            <a href="*" class="nav-link link-light px-3" aria-current="page">Support</a>
                        </li>
                    </ul>
                    <a href="/Settings/"
                        class="d-block btn btn-secondary mx-1 my-2 my-md-0 border border-dark shadow-sm">Settings</a>
                    <a href="/LogOut" class="d-block btn btn-danger mx-1 my-2 my-md-0 border border-dark shadow-sm">Log
                        Out</a>
                </div>
            </div>
        </nav>
        <header class="text-center p-1">
            FenXs
        </header>
        <main role="main">
            <div class="container">
                <div class="row FenXs-Text-Bigger text-light mx-2 mb-3 p-1 bg-dark border border-light rounded shadow">
                    <div class="col-12 col-md-7 border-md-end border-light">
                        Welcome, <span class="text-danger">@ViewData["Login"]</span> !
                    </div>
                    <div class="col-12 col-md-5">
                        Your Stars: <span class="text-warning">@ViewData["FenXs-Stars"]</span>
                    </div>
                </div>
            </div>
            <div class="container">
                @RenderBody()
            </div>
        </main>
        <aside></aside>
        <footer
            class="footer FooterMax position-fixed bottom-0 end-0 FenXs-Wooden text-center p-1 border-top border-start border-2 border-dark">
            &copy 2022 - FenXs @ViewData["Description"]
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/FenXs-FooterToggler.js" asp-append-version="true"></script>
</body>

</html>